# General Ignore
*.o
*.out
*.log
*.so
*.elf
*.a
.DS_Store
Thumbs.db
.clangd

# CMake Ignore
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
#*.cmake


# STM32 CMake
_deps/
stm32-cmake/examples
stm32-cmake/tests


# Build Directories
build/
build-*/
release/
release-*/
debug/
debug-*/

# Editor backups
*~
*.bak
*.swp
*.swo

# Python Ignore
*.pyc
__pycache__/
.git
.giattributes

# IDE Specific files
.vscode/
.idea/

# My own stash files (DERIN)
stash/
*.dump
*.txt
*.map
CMSIS_6/


# Ignore gem5 outputs
m5out/

# Ignore External
external/eigen
external/eigen_old


# Do not ignore CMakeLists.txt or datasets/*.txt
!**/CMakeLists.txt
!datasets/**/*.txt

datasets/rel-pose
datasets/abs-pose
datasets/homography

tools/*.csv
tools/*.png
